@import url(./__author/footer__author.css);
@import url(./__columns/footer__columns.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__links-el/footer__links-el.css);

.footer{
    padding: 0 48px 24px;
}

@media screen and (max-width: 920px){
    .footer{
        padding: 0 24px 24px;
    }
}
@media screen and (max-width: 720px){
    .footer{
        padding: 0 0 16px 24px;
    }
}